@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-landing {
  background-image: url(/public/assets/images/bg.jpg);
}

.bg-nota {
  background-image: url(/public/assets/images/nota.png);
}


.card:checked + .card-content {
  transform: scale(0.95);
  background-color: #e2e8f0;
}