/* Normal Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

.bg-login {
  background-image: url(/public/assets/images/login.jpg);  
  background-size: cover;
  background-position: center;

}

.bg-nota {
  background-image: url(/public/assets/images/nota.png);
}


.card:checked + .card-content {
  transform: scale(0.95);
  background-color: #e2e8f0;
}
